// main: ../main.scss

.btn {
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  border-color: $blue;
  border-radius: 42px;
  @include padding(10px 20px 10px 20px);
  font-weight: $bold;

  &:hover {
    background-color: $blue;
  }
}
