// main: ../main.scss

.timeline-container__detail {
  .timeline-container__content {
    .news-container__detail-options {
      @include respond-to('screen-xs') {
        display: none;
      }

      @include respond-to('screen-sm') {
        position: absolute;
        top: 50px;
        right: calc(15% - 130px);
        width: 75px;
        padding-top: 3px;
        font-size: em(10px);

        ul {
          padding-top: 5px;

          li {
            color: lighten($grey, 70%);

            &:not(:last-child) {
              margin-bottom: 3px;
            }

            img {
              width: 25px;
              height: auto;
              cursor: pointer;
            }

            &:nth-child(3) {
              margin-top: 15px;
            }
          }
        }
      }

      @include respond-to('screen-md') {
        right: calc(25% - 130px);
      }
    }
  }

  .news-container__entrie {
    min-height: 77px;

    &-detail {
      padding-bottom: 30px;
      cursor: auto;

      &:hover {
        box-shadow: 0 6px 15px rgba(36,37,38,0.08);
      }

      > div {
        h1 {
          @include margin(20px null 20px null);
          @include padding(null 30px null 30px);
          font-size: em(20px);
          font-weight: $black;
          line-height: 30px;
        }

        h2, h3, h4, h5 {
          @include margin(20px null 20px null);
          @include padding(null 30px null 30px);
          font-size: em(16px);
          font-weight: $black;
          line-height: 28px;
        }

        img {
          margin-bottom: 30px;
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        p {
          @include padding(null 30px null 30px);
          line-height: 24px;

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }

        blockquote {
          @include margin(10px 30px 20px 30px);
          border-left-width: 4px;
          border-left-style: solid;
          border-left-color: lighten($grey, 70%);
          font-style: italic;

          > p {
            padding-left: 20px;
          }
        }

        > div {
          img {
            display: none;
          }
        }
      }

      &-tweet {
        img {
          margin-bottom: 0;
          @include border-top-radius(10px);
        }

        .twitter-handle {
          @include margin(30px null 10px null);
          padding-left: 30px;
        }

        span {
          width: 100%;
        }
      }
    }

    &.moving {
      @include respond-to('screen-xs') {
        position: absolute;
        width: 90%;
      }

      @include respond-to('screen-sm') {
        margin-left: 0 !important;
      }
    }
  }
}
