// main: ../main.scss

#login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .login-col {
    width: 50%;
    height: 100%;

    @include respond-to('screen-xs') {
      width: 100%;
    }

    &__img {
      background-color: $blue;

      @include respond-to('screen-xs') {
        height: 20%;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: multiply;
        @include filter(grayscale(100%) contrast(1.5));
      }

      &::after{
        background-color: $green;
        mix-blend-mode: lighten;
      }
    }

    &__form {
      @include respond-to('screen-xs') {
        height: 80%;
      }

      @include respond-to('screen-sm') {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-content {
        width: 100%;
        text-align: center;

        > img {
          display: block;
          @include margin(null auto null auto);
          max-width: 50%;
          height: auto;

          @include respond-to('screen-xs') {
            margin-top: 50px;
          }
        }

        p {
          @include margin(10px null 50px null);
          color: $blue;
          font-weight: $black;
        }

        .user-avatar {
          @include margin(50px auto null auto);
          width: 100px;
          height: 100px;
          border-width: 4px;
          border-style: solid;
          border-color: $blue;
          border-radius: 50%;
          @include padding(4px 4px 4px 4px);

          img {
            width: 100%;
            height: auto;
            border-radius: 50%;
          }
        }

        .twitter-handle {
          @include margin(10px null 50px null);
          font-size: em(12px);
          color: $blue;

          span {
            display: block;

            &:not(:last-child) {
              margin-bottom: 5px;
              font-weight: $bold;
            }
          }
        }

        ul.time {
          @include respond-to('screen-xs') {
            width: 80%;
            @include margin(null auto null auto);
          }

          li {
            min-height: 42px;
            display: inline-table;
            @include margin(null 2px null 2px);

            @include respond-to('screen-xs') {
              @include margin(null 0 null 0);

              &:first-child {
                margin-left: 5px;
              }
            }

            &:not(:last-child) {
              margin-bottom: 10px;
            }

            a {
              width: 70px;
            }
          }
        }
      }

      .logout {
        position: absolute;
        bottom: 10px;
        font-size: em(12px);

        a {
          color: lighten($grey, 70%);

          &:hover {
            color: $green;
          }
        }
      }
    }
  }
}
