// main: ../main.scss

.timeline-container {
  @include margin(null auto null auto);
  @include padding(50px null 50px null);
  display: flex;
  flex-direction: row;

  &__sidebar {
    position: fixed;
    border-right-width: 4px;
    border-style: solid;
    border-color: $green;
    width: 25%;
    @include padding(null 10px 50px null);
    font-size: em(12px);
    text-align: right;

    ul {
      li {
        &:not(:last-child) {
          margin-bottom: 5px;
          font-weight: $bold;
        }

        &:last-child a {
          color: lighten($grey, 70%);

          &:hover {
            color: $green;
          }
        }
      }
    }
  }

  &__content {
    margin-left: calc(25% + 15px);
    width: 50%;
    padding-left: 25px;

    .news-container {
      &__entrie {
        background-color: $white;
        border-radius: 10px;
        height: 220px;
        display: flex;
        flex-direction: row;
        box-shadow: 0 6px 15px rgba(36,37,38,0.08);
        @include transition-duration(.3s);
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &:nth-child(odd) {
          .news-container__col-img {
            img {
              @include border-left-radius(10px);
            }
          }
        }

        &:nth-child(even) {
          .news-container__col {
            order: 2;

            &:first-child {
              order: 2;
            }

            &:last-child {
              order: 1;
            }

            &-img {
              img {
                @include border-right-radius(10px);
              }
            }
          }
        }

        &:hover {
          box-shadow: 5px 12px 20px rgba(36,37,38,0.13);
        }

        &-txt {
          height: inherit;

          .news-container__col {
            width: 100% !important;
          }
        }

        &-img {
          .news-container__col {
            width: 100% !important;

            &-img {
              img {
                border-radius: 10px;
              }
            }
          }
        }

        .news-container__col {
          width: 50%;
          display: flex;
          align-items: center;

          &-img {
            height: 100%;
          }

          &-txt {
            @include padding(30px 30px 30px 30px);
            .twitter-handle {
              font-size: 14px;
              font-weight: $bold;
              color: lighten($grey, 70%);
            }

            p {
              margin-top: 10px;
              line-height: 150%;
            }
          }

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
