// main: ../main.scss

.timeline-container {
  @include margin(null auto null auto);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include respond-to('screen-xs') {
    padding-bottom: 5%;
  }

  @include respond-to('screen-sm') {
    @include padding(50px null 50px null);
  }

  &__sidebar {
    position: fixed;
    font-size: em(12px);

    @include respond-to('screen-xs') {
      width: 100%;
      height: 50px;
      border-bottom-width: 4px;
      border-bottom-style: solid;
      border-bottom-color: $green;
      background-color: $blue;
      z-index: 1000;
    }

    @include respond-to('screen-sm') {
      border-right-width: 4px;
      border-style: solid;
      border-color: $green;
      width: 15%;
      @include padding(null 10px 50px null);
      text-align: right;
    }

    @include respond-to('screen-md') {
      width: 25%;
    }

    ul {
      @include respond-to('screen-xs') {
        height: 100%;
        @include padding(null 5% null 5%);
      }

      li {
        @include respond-to('screen-xs') {
          display: inline-block;
          height: 100%;
          line-height: 50px;
          vertical-align: middle;

          &:last-child {
            float: right;

            a {
              opacity: .3;

              &:hover {
                opacity: 1;
              }
            }
          }

          a {
            color: $green;
            font-weight: $bold;
            @include transition-duration(.1s);

            &:hover {
              color: darken($green, 10%);
            }
          }
        }

        &:not(:last-child) {
          margin-bottom: 5px;
          font-weight: $bold;
        }

        &:last-child a {
          color: lighten($grey, 70%);

          &:hover {
            color: $green;
          }
        }
      }
    }
  }

  &__content {
    @include respond-to('screen-xs') {
      @include margin(calc(50px + 5%) null null 5%);
      width: 90%;
    }

    @include respond-to('screen-sm') {
      margin-left: calc(15% + 15px);
      width: 70%;
      padding-left: 25px;
    }

    @include respond-to('screen-md') {
      margin-left: calc(25% + 15px);
      width: 50%;
    }

    .news-container {
      &__entrie {
        background-color: $white;
        border-radius: 10px;
        min-height: 220px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-shadow: 0 6px 15px rgba(36,37,38,0.08);
        @include transition-duration(.3s);
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &:nth-child(odd) {
          .news-container__col-img {
            img {
              @include respond-to('screen-sm') {
                @include border-left-radius(10px);
              }
            }
          }
        }

        &:nth-child(even) {
          .news-container__col {
            @include respond-to('screen-sm') {
              &:first-child {
                order: 2;
              }

              &:last-child {
                order: 1;
              }
            }

            &-img {
              img {
                @include respond-to('screen-sm') {
                  @include border-right-radius(10px);
                }
              }
            }
          }
        }

        &:hover {
          box-shadow: 5px 12px 20px rgba(36,37,38,0.13);

          .news-container__col-date {
            opacity: 1;
          }
        }

        &-txt {
          min-height: inherit;

          .news-container__col {
            width: 100% !important;
          }
        }

        &-img {
          height: 220px;

          .news-container__col {
            width: 100% !important;

            &-img {
              img {
                border-radius: 10px;
                height: 220px !important;
              }
            }
          }
        }

        .news-container__col {
          display: flex;
          align-items: center;

          @include respond-to('screen-xs') {
            width: 100%;
          }

          @include respond-to('screen-sm') {
            width: 50%;
          }

          &-img {
            position: relative;
            width: 100%;
            align-self: stretch;

            @include respond-to('screen-xs') {
              min-height: 100px;

              img {
                @include border-top-radius(10px);
              }
            }
          }

          &-txt {
            @include padding(30px 30px 30px 30px);
            word-wrap: break-word;
            overflow: overlay;

            .twitter-handle {
              font-size: 14px;
              font-weight: $bold;
              color: lighten($grey, 70%);
            }

            p {
              margin-top: 10px;
              line-height: 150%;
            }
          }

          &-date {
            @include respond-to('screen-sm') {
              position: absolute;
              right: calc(15% - 130px);
              width: 75px;
              padding-top: 3px;
              font-size: em(10px);
              opacity: 0;
              @include transition-duration(.1s);

              span {
                display: block;
                @include padding(2px null 2px null);
                color: lighten($grey, 70%);
              }
            }

            @include respond-to('screen-md') {
              right: calc(25% - 130px);
            }
          }

          img {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
